*{
    padding: 0rem;
    margin: 0rem;
}
/* body{
    background-image: url(/GIF\ FOLDER/gif1.gif);
} */
.navbar{
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    height: 4.5rem;
    background-color:#a4b0be;
    justify-content: space-between;
}
marquee{
    width: 24rem;
    justify-content: space-around;
    text-align: center;
    font-size: 3rem;
    margin-left: 50%;
    text-transform: capitalize;
    color: black;
    text-shadow: .1rem -0.2rem yellowgreen;
    margin-top: 12rem;
}

.container{
    width: 100%;
    height: 54.2rem;
   
}
.container::before{
    content: " "; 
    background-color:#e4eeee;
    /* background-color: #991c1c; */
    /* background: url(gif2.gif) no-repeat center center/cover; */
    position: absolute;
    height: 54.2rem;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.9;
}





.curve{
    margin-top: 38rem;
    position: relative;
}
/* JS CODING OF COMPLETER LINKING  */

#logo{
    margin-top: 0.7rem;
}

#logo img{
    width: 3rem;
    height: 3rem;
    border: .2rem dotted rgb(245, 200, 200);
    border-radius: 2rem;
    cursor: pointer;
}

#logo img:hover{
    background-color: rgb(233, 17, 57);
}



.navbar ul{
    display: flex;
    list-style: none;
    margin-top: 1rem;
    font-size: 2.1rem;
    text-transform: capitalize;
    text-shadow: -0.1rem -0.1rem yellowgreen;
    
}
.navbar ul li a{
    color: whitesmoke;
    padding: 2rem;
    color: rgb(18, 17, 16);
    padding: 2rem;
    text-decoration: none;
    font-weight: bolder;

}
.navbar ul li a:hover{
    color:whitesmoke;
    font-size:2.4rem;
 

    /* transition: 2s; */
}
/* input text design section */
.navbar input{
    width: 14.4rem;
    border: .2rem solid;
    border-radius: .5rem;
    background-color: #292626;
    font-size: 1.6rem;

}

input[type=text]
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: .4rem;
    background-color:white;


}

button{
    border-radius: .4rem;
}
#but{
    width: 5rem;
    height:2.7rem;
    border:.2rem solid rgb(206, 177, 177);
    cursor: pointer;
    border-left: none;
    background-color: #e6f0e6;
    font-size: 1.8rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}
#but a{
    text-decoration: none;
    color: rgb(8, 8, 8);
    background-color: #fff;
    
}
#but:hover{
    background-color: #d54b4b;

}
/* NAVBAR DESIGN SECTION END THIS LINE */





/* PROFILE SECTION CODING THIS LINE TO START */
/* thai is profile desigm section */
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.intro{
    display:block;
    justify-content: center;
    align-items: center;
    margin: 4rem;
}
/* fheiading to design section */
.intro h2{
    text-transform: capitalize;
    text-align: center;
    color: rgb(45, 9, 187);
    font-weight: bolder;
    font-size: 3.5rem;
    margin-top: 4rem;
    text-shadow: -.2rem -0.1rem rgb(196, 15, 15);
    text-decoration: underline;

}
.profile h1{
    margin-top: 4rem;
    color: red;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(25, 121, 180);
    text-shadow: -.2rem -0.1rem rgb(248, 251, 248);
 
   
}
.profile h3{
    font-size: 3.8rem;
    color: rgb(38, 48, 48);
    text-shadow: -.2rem -0.1rem rgb(171, 240, 53);
}

/*  span all related desing this section */
span{
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#first{
    color: rgb(191, 151, 151);
    font-size: 4rem;
    font-family:'Times New Roman', Times, serif;
    text-transform: capitalize;
    text-shadow: -.2rem -0.1rem rgb(187, 228, 35);
}
#sec{
    color: rgb(20, 24, 11);
    font-size: 4rem;
    font-family:'Times New Roman', Times, serif;
    text-shadow: -0.1rem -0.1rem rgb(245, 245, 245);
}
#thid{
    color: rgb(55, 0, 255);
    font-size: 4rem;
    font-family:'Times New Roman', Times, serif;
    text-transform: capitalize;
    text-shadow: -.2rem -0.1rem rgb(232, 239, 232);

}
.profile .text{
    color: green;
    font-size: 3rem;
    text-shadow: -.2rem -0.1rem rgba(211, 237, 60, 0.704);
}
.text{
    display: flex;
}

.text img{
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
}

/* image side of design section  */
.photo img{
    width: 20rem;
    /* border: 1rem solid white; */
    height: 20rem;
    border-radius: 46%;
    box-shadow: red;
    margin-top: 12rem;
    box-shadow: 0rem .2rem .8rem 2.4rem #ab192f3d
    
}
#from{
    color: rgb(242, 7, 172);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 4rem;
    margin-left: 1rem;
    text-shadow: -0.3rem -0.2rem rgb(246, 247, 246);
}






/* ABOUT SECTION OF CODE DESOGN */
/* now about section part desing below parts */
.container2{
    display: flex;
    margin-top: 0rem;
    width: 100%;
    height: 42rem;
    background-color: rgb(47, 44, 44);

}
.log img{
    width: 20rem;
    /* border: 1rem solid white; */
    height: 20rem;
    border-radius: 46%;
    box-shadow: red;
    margin: 12rem 3rem 1rem 6rem;
    box-shadow: 0rem .2rem 8rem 2.4rem rgb(220, 208, 208);

}
.about{
    text-transform: capitalize;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    margin-left: 11rem;
   
}
#abtm{
    color: whitesmoke;
    font-weight: bolder;
    text-decoration-line: underline;
}
#me{
    font-weight: bold;
    color: whitesmoke;
    text-decoration-line: underline;
}
.front{
    display: flex;
    
}
.front span h2{
    color: aliceblue;
    text-shadow: -.2rem -.2rem rgb(179, 131, 131);
}
.front span h1{
    color:whitesmoke;
    font-size: 4.5rem;
    margin-right: 2rem;
    margin-left: 2rem;
    text-shadow: -.2rem -.2rem rgb(205, 155, 155);
}
.about p{
    color: white;
    margin-top: 1.4rem;
    justify-content: baseline;
    line-height: 2rem;
    text-transform: capitalize;
    font-size: 1.5rem;
    
}
.about button{
    padding: .2rem;
    border-radius: 1.5rem;
    margin: 2rem;
    font-size: 2rem;
    color: black;
    font-weight: bolder;
    background-color: #fff;
    


}
.about button:hover{
    background-color: green;
    color: whitesmoke;
    box-shadow: -.2rem -.2rem .2rem .2rem red;
}





/* FORM SECTION DESIGN  */
/* design section of form section */
#box{
   
    width: 100%;
    height: 40rem;
    line-height: 4rem;
    border: .2rem black;
    justify-content: center;
    text-align: center;
    background-color: #d8d8ab;
   background-image: norepeat;
}
#hd{
    padding-top: 6rem;
}


/* SET THE BGC IMAGE GIF THAT IS CONTROLE BY THIS BELOW LINES */
#box input{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    color: black;
    font-weight:bolder;
}
#box input,textarea{
    width: 20rem;
    padding: .5rem;
    color: black;
    font-weight: bold;

}
form h1{
    margin-top:0rem;
    color: rgb(12, 13, 12);
    font-weight: bolder;
    text-align: center;
    text-shadow: -0.2rem -0.3rem rgb(240, 240, 238);
    

}
#box button{
    padding: .5rem;
    font: bold;
    font-size: 2rem;
    border-radius: 1.8rem;
    color:black;
    font-weight: bolder;
    background-color: #fff;
}
#box button:hover{
    background-color: green;
    color: whitesmoke;
    box-shadow: -.3rem -.3rem .3rem .2rem red;
}




/* MEDIA QUERY SELECTOR CONDING LINK  */
/* this is media query section join  */

html{
    font-size: 62.5%;
}
/* LINK THE HTML REM ROOT ELEMENT METHOD */








/* ALL ABOUT OF FOOTER SECTION  */
/* NOW DESING THE FOOTER SECTION IN THIS TIME  */
.section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
}
footer{
    background-color:#2d3436;
    width: 100%;
    height: 50rem;
}
#head{
    font-size: 3rem;
    color: white;
    justify-content: center;
    text-align: center;
    padding: 2rem 0rem;
    text-transform: capitalize;
    text-shadow: -.2rem -.2rem rgb(7, 7, 5);

    
}
.container4{
    
    display: flex;
    flex-wrap: wrap;
}

#logo1{

    margin: 2rem;
    text-transform:capitalize;
    font-size: 2rem;
    color: #f7f1e3;
    letter-spacing: .3rem;
    font-weight:lighter;
 
}
#logo1:hover{
    background-color: #06bb18;
    border: 1.5rem;
    box-shadow: -.2rem -.2rem .2rem .5rem red;
    padding: .2rem;
}

/* all of heading design dection */
h1{
    font-size: 3.4rem;
    color:#a4b0be;
    text-transform: capitalize;
    flex-wrap: wrap;
}
.fa-brands{
    font-size: 4rem;
    color: white;
    cursor: pointer;
    border-radius:1rem;
}
.fa-camera{
    font-size: 4rem;
    cursor: pointer;
    color: white;
}
.fa-camera:hover{
    background-color: #2e7b0b;
    border: 1.5rem;
    box-shadow: -.2rem -.2rem .2rem .5rem burlywood;
}
.fa-brands text{
    margin-left:1rem;
    color: whitesmoke;
}
/* subscribe section coding  */
.logo1{
    display: flex;
    flex-wrap: wrap;
}

.logoinfo img{
    width: 6rem;
    height: 6rem; 
    border-radius: 3rem;
    margin: 1rem;
}

.newinfo{
    padding: 1rem 0rem;
}
.newinfo h2{
    font-size: 2.5rem;
    text-transform: capitalize;
    color:rgb(252, 240, 240);
    
}
.newinfo input{
    margin-top: .4rem;
    padding: .6rem;
    cursor: pointer;
    color: black;
    font-size: 2rem;
    
   
    border-radius: 8rem;
}
.newinfo button{
    padding: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    color: #292626;
    font-size: 2rem;
    border-radius: 2rem;
    font-weight: bolder;
}
.newinfo button:hover{
    background-color: aqua;
    box-shadow: -.2rem -.2rem .2rem .3rem red;
}
/* grmail bal only desogn */

footer p{
    
    text-align:center;
    font-size: 2.3rem;
    padding-bottom: 1rem;
    margin-top: 7rem;
    color: whitesmoke;
    flex-wrap: wrap;
    text-decoration-line: underline;

}














/*  APPLY MEDIA QUARY  */


@media(max-width:1339px){
    html{
        font-size:42%;
    }
}
@media(max-width:1096px){
    html{
        font-size:45%;
    }
}

@media(max-width:998px){
    html{
        font-size:47%;
    }
     
        footer{
            flex-wrap: wrap;
            height: 80rem;
        }
        .front{
            flex-wrap: wrap;
        }
      
        
    
}
@media(max-width:768px){
    html{
        font-size: 43%;
    }
        .navbar{
            height: 11rem;
            display: block;
           }
    
    marquee{
        margin-left:12rem;
    }
    .navbar ul{
        flex-wrap:wrap;
        padding:0.3rem;
    }
        #logo{
            margin-left: 25rem;
            
           }
    .front span{
        font-size:2.4rem;
        margin:0rem 2rem 0rem 0rem;
    }
    
           .front{
            flex-wrap: wrap;
        }
    .container2{
        height:70rem;
        font-size:2rem;
    }
   .about{
       margin-left:3rem;
   }
    footer{
        height:9rem;
    }
    .log img{
        magin-left:0.8rem;
        margin-right:0.5rem;
    }
    
}
@media(max-width:522px){
    html{
        font-size:43%;
    }
        footer{
            flex-wrap: wrap;
            height: rem;
        }
    
}






/*  NEW CONDITION ID PERFOMT USING JS AND HTML AND CSS  */
.newconditioninjs{
    text-align: center;
    justify-content: center;
}
.newconditioninjs p{
    font-size: 4rem;
    text-shadow: -.2rem -.2rem rgb(4, 3, 3);
    font-weight:bolder;
    margin-top: 3rem;
    /* JS PART CODING END THIS STEPS */

}












