a*{
    padding: 0rem;
    margin: 0rem;
}
.navbar{
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    height: 4.5rem;
    background-color: rgb(161, 205, 161);
    justify-content: space-between;
}
marquee{
    width: 20rem;
    justify-content: space-around;
    text-align: center;
    font-size: 4rem;
    margin-left: 50%;
    text-transform: capitalize;
    color: black;
    text-shadow: .1rem -0.2rem yellowgreen;
    margin-top: 2rem;
}

.container{
    width: 100%;
    height: 5.75rem;
   
}
.curve{
    margin-top: 49rem;
    position: relative;
}
/* JS CODING OF COMPLETER LINKING  */

#logo{
    margin-top: 0.7rem;
}

#logo img{
    width: 3rem;
    height: 3rem;
    border: .2rem dotted rgb(12, 161, 119);
    border-radius: 2rem;
    cursor: pointer;
}

#logo img:hover{
    background-color: rgb(233, 17, 57);
}



.navbar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 1rem;
    font-size: 2.1rem;
    text-transform: capitalize;
    text-shadow: -0.1rem -0.1rem yellowgreen;
    
}
.navbar ul li a{
    color: whitesmoke;
    padding: 2rem;
    color: rgb(18, 17, 16);
    padding: 2rem;
    text-decoration: none;
    font-weight: bolder;

}
.navbar ul li a:hover{
    color: whitesmoke;
    font-size: 2.4rem;
 

    /* transition: 2s; */
}
/* input text design section */
.navbar input{
    width: 14.4rem;
    border: .2rem solid;
    border-radius: .5rem;
    background-color: #292626;
    font-size: 1.6rem;

}
input[type=text]
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: .4rem;
    background-color:white;


}

button{
    border-radius: .4rem;
}
#but{
    width: 5rem;
    height:2.7rem;
    border:.2rem solid rgb(206, 177, 177);
    cursor: pointer;
    border-left: none;
    background-color: #e6f0e6;
    font-size: 1.8rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
}
#but a{
    text-decoration: none;
    color: rgb(8, 8, 8);
    background-color: #fff;
    
}
#but:hover{
    background-color: #d54b4b;

}
/* NAVBAR DESIGN SECTION END THIS LINE */





/* PROFILE SECTION CODING THIS LINE TO START */
/* thai is profile desigm section */
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.intro{
    display:block;
    justify-content: center;
    align-items: center;
    margin: 4rem;
}
/* fheiading to design section */
.intro h2{
    text-transform: capitalize;
    text-align: center;
    color: rgb(45, 9, 187);
    font-weight: bolder;
    font-size: 3.5rem;
    margin-top: 4rem;
    text-shadow: -.2rem -0.1rem rgb(196, 15, 15);
    text-decoration: underline;

}
.profile h1{
    margin-top: 4rem;
    color: red;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(25, 121, 180);
    text-shadow: -.2rem -0.1rem rgb(248, 251, 248);
 
   
}
.profile h3{
    font-size: 3.7rem;
    color: rgb(38, 48, 48);
    text-shadow: -.2rem -0.1rem rgb(171, 240, 53);
}

/*  span all related desing this section */
span{
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#first{
    color: red;
    font-size: 4rem;
    font-family:'Times New Roman', Times, serif;
    text-transform: capitalize;
    text-shadow: -.2rem -0.1rem rgb(187, 228, 35);
}
#sec{
    color: rgb(20, 24, 11);
    font-size: 4rem;
    font-family:'Times New Roman', Times, serif;
    text-shadow: -0.1rem -0.1rem rgb(245, 245, 245);
}
#thid{
    color: rgb(55, 0, 255);
    font-size: 4rem;
    font-family:'Times New Roman', Times, serif;
    text-transform: capitalize;
    text-shadow: -.2rem -0.1rem rgb(232, 239, 232);

}
.profile .text{
    color: green;
    font-size: 3rem;
    text-shadow: -.2rem -0.1rem rgba(211, 237, 60, 0.704);
}
.text{
    display: flex;
}

.text img{
    width: 4rem;
    height: 4rem;
    margin-left: 1rem;
}

/* image side of design section  */
.photo img{
    width: 20rem;
    /* border: 1rem solid white; */
    height: 20rem;
    border-radius: 46%;
    box-shadow: red;
    margin-top: 12rem;
    box-shadow: 0rem .2rem .8rem 2.4rem #ab192f3d
    
}
#from{
    color: rgb(242, 7, 172);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 4rem;
    margin-left: 1rem;
    text-shadow: -0.3rem -0.2rem rgb(246, 247, 246);
}






/* ABOUT SECTION OF CODE DESOGN */
/* now about section part desing below parts */
.container2{
    display: flex:
    width: 100%;
    height: 44rem;
    background-color:#1e272e;

}
.log img{
    width: 20rem;
    /* border: 1rem solid white; */
    height: 20rem;
    border-radius: 46%;
    box-shadow: red;
    margin: 12rem 3rem 1rem 6rem;
    box-shadow: 0rem .2rem 3rem 2.4rem rgb(141, 137, 137);

}
.about{
    text-transform: capitalize;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    margin-left: 4rem;
   
}
#abtm{
    color: whitesmoke;
    font-weight: bolder;
    text-shadow: -.2rem -0.1rem rgb(8, 8, 7);
    text-decoration-line: underline;
}
#me{
    font-weight: bold;
    color: #f7f7f7;
    text-decoration-line: underline;
}
.front{
    display: flex;
    
}
.front span h2{
    color: aliceblue;
    text-shadow: -.2rem -.2rem rgb(216, 151, 151);
}
.front span h1{
    color: whitesmoke;
    font-size: 4.5rem;
    margin-right: 2rem;
    margin-left: 2rem;
    text-shadow: -.2rem -.2rem rgb(228, 209, 209);
}
.about p{
    color: whitesmoke;
    margin-top: 1.4rem;
    line-height: 2.3rem;
    text-transform: capitalize;
    font-size: 1.6rem;
    margin-right: 3rem;
    
    
}
.about button{
    padding: .2rem;
    border-radius: 1.5rem;
    margin: 2rem;
    font-size: 2rem;
    color: rgb(24, 18, 18);
    background-color: #fff;
    


}
.about button:hover{
    background-color: whitesmoke;
    font-weight: bolder;
    box-shadow: -.2rem -.2rem .2rem .2rem rgb(186, 19, 19);
}





/* FORM SECTION DESIGN  */
/* design section of form section */
#box{
   
    width: 100%;
    height: 42rem;
    line-height: 4rem;
    border: .2rem black;
    justify-content: center;
    text-align: center;
   background-color:#ffffff;
}
#hd{
    padding-top: 6rem;
}


/* SET THE BGC IMAGE GIF THAT IS CONTROLE BY THIS BELOW LINES */
form:before{
    content: " "; /* firstly written this line*/
    background-color:#5f5f5b;
    position: absolute;
    height: 100rem;
    width: 100%;
    top: 0rem;
    left: 0rem;
    z-index: -1;
    opacity: 0.3;

}

#box input,textarea{
    width: 20rem;
    padding: .6rem;
    color: black;
    font-weight: bold;
    font-size: 2rem;
    font-weight: bolder;
    color: black;
}
form h1{
    margin-top:0cm;
    color: rgb(12, 13, 12);
    text-align: center;
    font-weight: bolder;
    
    

}
#box button{
    padding: .5rem;
    font: bold;
    font-size: 1.9rem;
    border-radius: 1.8rem;
    color: #292626;
    font-weight: bolder;
    font-weight: bolder;
    background-color: #fff;
}
#box button:hover{
    background-color: rgb(6, 6, 6);
    color: whitesmoke;
    box-shadow: -.3rem -.3rem .3rem .2rem red;
}




/* MEDIA QUERY SELECTOR CONDING LINK  */
/* this is media query section join  */

html{
    font-size: 62.5%;
}
/* LINK THE HTML REM ROOT ELEMENT METHOD */







/* ALL ABOUT OF FOOTER SECTION  */
/* NOW DESING THE FOOTER SECTION IN THIS TIME  */
.section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
}
footer{
    background-color:#2d3436;
    width: 100%;
    height: 60rem;
}
#head{
    font-size: 3rem;
    color: white;
    justify-content: center;
    text-align: center;
    padding: 2rem 0rem;
    text-transform: capitalize;
    text-shadow: -.2rem -.2rem rgb(7, 7, 5);

    
}
.container4{
    
    display: flex;
    flex-wrap: wrap;
}

#logo1{

    margin: 2rem;
    text-transform:capitalize;
    font-size: 2rem;
    color: #f7f1e3;
    letter-spacing: .3rem;
    font-weight:lighter;
 
}
#logo1:hover{
    background-color: black;
    border: 1.5rem;
    box-shadow: -.2rem -.2rem .2rem .5rem rgb(214, 15, 15);
    padding: .2rem;
}

/* all of heading design dection */
h1{
    font-size: 3.4rem;
    color:#a4b0be;
    text-transform: capitalize;
    flex-wrap: wrap;
}
.fa-brands{
    font-size: 4rem;
    color: white;
    cursor: pointer;
    border-radius:1rem;
    flex-wrap:wrap;
}
.fa-camera{
    font-size: 4rem;
    cursor: pointer;
    color: white;
}
.fa-camera:hover{
    background-color: #2e7b0b;
    border: 1.5rem;
    box-shadow: -.2rem -.2rem .2rem .5rem burlywood;
}
.fa-brands text{
    margin-left:1rem;
    color: whitesmoke;
}
/* subscribe section coding  */
.logo1{
    display: flex;
    flex-wrap: wrap;
}

.logoinfo img{
    width: 6rem;
    height: 6rem; 
    border-radius: 3rem;
    margin: 1rem;
}

.newinfo{
    padding: 1rem 0rem;
}
.newinfo h2{
    font-size: 2.5rem;
    text-transform: capitalize;
    color:rgb(252, 240, 240);
    
}
.newinfo input{
    margin-top: .4rem;
    padding: .6rem;
    cursor: pointer;
    color: black;
    font-size: 2rem;
    
   
    border-radius: 8rem;
}
.newinfo button{
    padding: .5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    color: #292626;
    font-size: 2rem;
    border-radius: 2rem;
    font-weight: bolder;
}
.newinfo button:hover{
    background-color: aqua;
    box-shadow: -.2rem -.2rem .2rem .3rem red;
}
/* grmail bal only desogn */

footer p{
    
    text-align:center;
    font-size: 2.3rem;
    padding-bottom: 1rem;
    margin-top: 7rem;
    color: whitesmoke;
    flex-wrap: wrap;
    text-decoration-line: underline;

}










/*  APPLY MEDIA QUARY  */


@media(max-width:1339px){
    html{
        font-size:47%;
       
        
    }
}
@media(max-width:1096px){
    html{
        font-size:47%;
        
      
        
    }
}

@media(max-width:998px){
    html{
        font-size:47%;
     
        footer{
            flex-wrap: wrap;
            height: 80rem;
        }
        .front{
            flex-wrap: wrap;
        }
      
        
    }
}
@media(max-width:768px){
    html{
        font-size: 43%;
        .navbar{
            height: 10rem;
            display: block;
            background-color: rgb(106, 172, 106)
            
           }
        #logo{
            margin-left: 45rem;
            
           }
           .front{
            flex-wrap: wrap;
        }
   
    }
}
@media(max-width:570px){
    html{
       
        footer{
            flex-wrap: wrap;
            height: 100rem;
            width:100%;

        }
           .navbar{
            height: 10rem;
            display: block;
            background-color: rgb(106, 172, 106)
            
           }
        .log img{
            margin-left:2px;
            
        }
        .about p{
            overflow: hidden;
            display:block;
        }
        .logo img{
            margin-right:0.5rem;
           }
           .container2{
            height: 480px;
               width:100%;
           }
    }
}

@media(max-width:468px){
    html{
       
        footer{
            flex-wrap: wrap;
            height: 100rem;
            width:100%;

        }
        .navbar ul{
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    height: 2rem;
    background-color: rgb(161, 205, 161);
    justify-content: space-between;
            margin-left:0px;
}
        .log img{
           padding:0px;
            margin:0px;
            
        }
        .about p{
            overflow: hidden;
            display:block;
        }
      
           .container2{
            height: 1200px;
               width:100%;
           }
    }
}
@media(max-width:689px){
    html{
        .about p{
            flex-wrap: wrap;
            display:block;
        }
           .navbar{
            height: 10rem;
            display: block;
            background-color: rgb(106, 172, 106)
            
           }
        marquee{
            margin-top: 10rem;
        }
     
    }
}

















/*  NEW CONDITION ID PERFOMT USING JS AND HTML AND CSS  */
.newconditioninjs{
    text-align: center;
    justify-content: center;
}
.newconditioninjs p{
    font-size: 4rem;
    text-shadow: -.2rem -.2rem rgb(4, 3, 3);
    font-weight:bolder;
    margin-top: 3rem;
    /* JS PART CODING END THIS STEPS */

}
